*{
    box-sizing: border-box;
}

body{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #080808;
    text-transform: uppercase;
}

#main-container{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    min-height: 100vh;
}

.container-upper-box,.container-lower-box{
    background-color: brown;
    width: 100%;
    flex:1;
    display: flex;
}

.container-middle-box{
    flex: 5;
    display: flex;
}


.up-box,.lw-box{
    flex: 1;
}

.mid-box-right-area ,.mid-box-left-area{
    min-width: 120px;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
}

.l-b,.r-b {
    flex: 1;
}

.l,.r{
    min-width: 120px;
    background-color: cornflowerblue
}
.mid-box-center-area{
    flex: 4;
}

.color-banner{
    height: 100%;
    border-bottom: 2px solid black;
}

.red-color{
    background-color: red;
}

.yellow-color{
    background-color: rgb(255, 255, 0);
}

.green-color{
    background-color: green;
}

.orange-color{
    background-color: rgb(255, 166, 0);
}

.blue-color{
    background-color: rgb(29, 29, 139);
}

.light-blue{
    background-color: rgb(81, 187, 253);
}

.purple{
    background-color: rgb(151, 72, 151);
}

.dark-purple{
    background-color: rgb(77, 32, 77);
}